In [1]:
import os
!ls

Capstone
Data
student_lec2_mean_std.ipynb
student_lec5_probabilities.ipynb
student_ques1_mean_std_colab.ipynb

In [2]:
import pandas as pd

## MEAN AND STANDARD DEVIATION

In [3]:
pd.set_option('display.max_columns', 500)
df = pd.read_csv("Data/instagram_followers.csv")
df

               Username  Followers               Category
0            @instagram        424  Social media platform
1            @cristiano        348                 Sports
2              @therock        271          Entertainment
3          @kyliejenner        271          Entertainment
4             @leomessi        269                 Sports
5         @arianagrande        267          Entertainment
6          @selenagomez        264          Entertainment
7        @kimkardashian        255          Entertainment
8              @beyonce        210          Entertainment
9         @justinbieber        197          Entertainment
10       @kendalljenner        191          Entertainment
11              @natgeo        186               Magazine
12     @khloekardashian        185          Entertainment
13         @taylorswift        180          Entertainment
14                 @jlo        177          Entertainment
15                @nike        175                 Sports
16            @neymarjr        161                 Sports
17          @nickiminaj        158          Entertainment
18         @virat.kohli        156                 Sports
19          @mileycyrus        147          Entertainment
20     @kourtneykardash        144          Entertainment
21           @katyperry        136          Entertainment
22      @kevinhart4real        124          Entertainment
23            @ddlovato        116          Entertainment
24           @iamcardib        110          Entertainment
25             @zendaya        109          Entertainment
26          @badgalriri        108          Entertainment
27        @theellenshow        107          Entertainment
28          @realmadrid        103                 Sports
29         @fcbarcelona        100                 Sports
30           @kingjames         98                 Sports
31  @chrisbrownofficial         93          Entertainment
32       @champagnepapi         93          Entertainment
33        @billieeilish         92          Entertainment
34     @championsleague         80                 Sports
35           @vindiesel         74          Entertainment
36             @dualipa         72          Entertainment
37             @shakira         70          Entertainment
38     @victoriassecret         70         Lingerie brand
39           @gigihadid         69                  Model
40                @nasa         69           Space agency
41        @davidbeckham         68                 Sports
42      @priyankachopra         68          Entertainment
43      @shraddhakapoor         65          Entertainment
44           @snoopdogg         65          Entertainment
45         @shawnmendes         63          Entertainment
46          @nehakakkar         62          Entertainment
47           @gal_gadot         62          Entertainment
48    @justintimberlake         61          Entertainment
49        @lalalalisa_m         60          Entertainment

## Question 1

What is the mean number of followers for all accounts under the "Sports" category? And what is the mean number of followers for all accounts under the "Entertainment" category?

In [5]:
# Calculate the mean number of followers for each category
sports_mean = df[df['Category'] == 'Sports']['Followers'].mean()
entertainment_mean = df[df['Category'] == 'Entertainment']['Followers'].mean()
print("Mean number of followers for Sports category:", sports_mean)
print("Mean number of followers for Entertainment category:", entertainment_mean)

Mean number of followers for Sports category: 155.8
Mean number of followers for Entertainment category: 135.05714285714285

## Question 2

What is the standard deviation of the number of followers for all accounts under the "Sports" category? And what is the standard deviation of the number of followers for all accounts under the "Entertainment" category?

In [6]:
# Calculate the mean number of followers for each category
sports_std = df[df['Category'] == 'Sports']['Followers'].std()
entertainment_std = df[df['Category'] == 'Entertainment']['Followers'].std()
print("STD of followers for Sports category:", sports_std)
print("STD of followers for Entertainment category:", entertainment_std)

STD of followers for Sports category: 89.9676485064369
STD of followers for Entertainment category: 70.06842993780849