In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import sklearn.linear_model as lm 
import matplotlib.pyplot as plt

## Read the data
* 0 means it's labeled as high-sugar
* 1 means it's labeled as high-sodium

In [2]:
df = pd.read_csv("Data/menu.csv")
df

     Sugars  Sodium  Label
0         3     750      1
1         3     770      1
2         2     780      1
3         2     860      1
4         2     880      1
..      ...     ...    ...
209     103     400      0
210      51     200      0
211      80    1500      0
212      70    1100      0
213      60     700      1

[214 rows x 3 columns]

## Fit a logistic regression model

In [3]:
x = df[["Sugars", "Sodium"]]
y = df["Label"] 

clf = lm.LogisticRegression()
clf.fit(x, y)
score = clf.score(x,y)
print(score)

0.9953271028037384

## Make predictions using the model

In [4]:
x = df[["Sugars", "Sodium"]]
y = df["Label"] 

clf = lm.LogisticRegression()
clf.fit(x, y)

pred = clf.predict_proba([[60, 400]])
print('Prediction for a food with sugar level of',60,'and sodium level of',400,':', pred)
print()
pred = clf.predict_proba([[60, 400], [20, 500]])
print('Predictions for two foods:', pred)

Prediction for a food with sugar level of 60 and sodium level of 400 : [[0.99857174 0.00142826]]

Predictions for two foods: [[0.99857174 0.00142826]
 [0.3426961  0.6573039 ]]