## Logistic Regression Classifier

In [1]:

import pandas as pd
import sklearn.linear_model as lm 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Data/spending.csv")
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Label
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,3,11,1,1
1,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,0
2,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,3,11,0,0
3,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,0,0,0,0,0,0,3,11,0,0
4,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,0,0,0,0,0,0,3,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,0,0,3,11,0,0
1139,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,0,0,1,0,0,3,11,0,0
1140,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,1,0,0,0,0,3,11,0,0
1141,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,0,0,3,11,0,0
1142,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,0,0,3,11,1,0

* Label = 0: does not spend a lot on meat products

* Label = 1: spends a lot on meat products

Use a linear regression classifier to make predictions about high or low meat spending depending on income and amount spent on wines.  Compare these predictions to the results found by running the support vector classifier.

In [3]:
#Logistic Regression
x = df[["Income", "MntWines"]]
y = df["Label"] 

clf = lm.LogisticRegression()
clf.fit(x, y)

score = clf.score(x,y)
print(score)

0.5966754155730534

In [12]:
# Predict label for Income = 80000 and Amount spent on wines = 800
income_80000 = 80000
amt_wines_800 = 800
pred = clf.predict_proba([[80000, 800]])
print(pred)
print("Predicted label:", predicted_label)

[[9.62028343e-05 9.99903797e-01]]
Predicted label: [1]

In [6]:
# Predict label for Income = 60000 and Amount spent on wines = 200
income_60000 = 60000
amt_wines_200 = 200
predicted_label = clf.predict([[income_60000, amt_wines_200]])
print("Predicted label:", predicted_label)

Predicted label: [1]

In [7]:
# Predict label for Income = 90000 and Amount spent on wines = 1200
income_90000 = 90000
amt_wines_1200 = 1200
predicted_label = clf.predict([[income_90000, amt_wines_1200]])
print("Predicted label:", predicted_label)

Predicted label: [1]

In [13]:
#Logistic Regression
x = df[["Income", "MntFishProducts"]]
y = df["Label"] 

clf = lm.LogisticRegression()
clf.fit(x, y)

score = clf.score(x,y)
print(score)

0.6859142607174104

In [14]:
# Predict label for Income = 80000 and Amount spent on fish = 150
income_80000 = 80000
amt_fish_150 = 150
predicted_label = clf.predict([[income_80000, amt_fish_150]])
print("Predicted label:", predicted_label)

Predicted label: [1]

In [15]:
# Predict label for Income = 60000 and Amount spent on wines = 50
income_60000 = 60000
amt_wines_50 = 50
predicted_label_1 = clf.predict([[income_60000, amt_wines_50]])
print("Predicted label for Income $60,000 and Amount spent on wines $50:", predicted_label_1)

# Predict label for Income = 90000 and Amount spent on wines = 200
income_90000 = 90000
amt_wines_200 = 200
predicted_label_2 = clf.predict([[income_90000, amt_wines_200]])
print("Predicted label for Income $90,000 and Amount spent on wines $200:", predicted_label_2)

Predicted label for Income $60,000 and Amount spent on wines $50: [0]
Predicted label for Income $90,000 and Amount spent on wines $200: [1]

In [ ]:
# Predict label for Income = 90000 and Amount spent on wines = 200