<br>
<font size="+2"> In this notebook, we will be working on questions in Colab Notebooks section in Module 1. </font>
<br><br>

In this notebook, we will continue working with `city_temperature.csv` datafile; remember that the format of this datafile is the same as the temperature datafile we were using in the video, it just has many more data points because it includes temperature data for the entire world (i.e. rows).

<font color='#FF4500' size="+2"> To set up your DataFrame for these questions, run the cell below. </font>

In [2]:
import pandas as pd
df = pd.read_csv("Data/city_temperature.csv")

C:\Users\Cbilinski\AppData\Local\Temp\ipykernel_29744\1196910838.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/city_temperature.csv")

# Questions on Groupby

We will now take another break from our Basic Pandas commands video and let you practice the groupby command in addition to filtering and other basic commands you tried before.
<br><br>
If you've been away from your notebook for a while, you will need to rerun the commands at the top to load the data into Colab (set up your DataFrame). To rerun the cell, you select the cell and then run it. The [cell](#load-df) you want to rerun is the one for mounting the Google Drive and reading your csv.

## Average Yearly Temperature - Part 1

Create a new DataFrame called `hightemp`, that only has data where the temperature is **above 80 degrees**. You'll need to filter the original data for rows whose temperature is greater than 80. Then use the `hightemp` DataFrame to create a third DataFrame called `cities` that specifies the number of days above 80 per city. To do this, you'll need to use the groupby function. Provide the count for the number of days above 80 degrees for the following cities.

In [3]:
df

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,NaN,Algiers,1,1,1995,64.2
1,Africa,Algeria,NaN,Algiers,1,2,1995,49.4
2,Africa,Algeria,NaN,Algiers,1,3,1995,48.8
3,Africa,Algeria,NaN,Algiers,1,4,1995,46.4
4,Africa,Algeria,NaN,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [60]:
hightemp = df[df['AvgTemperature'] > 80]
cities = hightemp.groupby('City').count()
cities.reset_index(inplace=True)
cities[cities['City'] == 'Rangoon']

        City  Region  Country  State  Month   Day  Year  AvgTemperature
222  Rangoon    5887     5887      0   5887  5887  5887            5887

## Number of Days above 80 - Part 2

Now that we have the `cities` DataFrame, we can find the largest of the count values from this DataFrame. To do this, first find the **maximum** count and save it as a variable called `highestcount`. Then, locate the row in the cities DataFrame whose count matches `highestcount`.
<br><br>
Which city had the largest number of days over 80 degrees?

In [62]:
highestcount = cities['Day'].max()

In [63]:
cities[cities['Day'] == cities['Day'].max()]

          City  Region  Country  State  Month   Day  Year  AvgTemperature
254  Singapore    7751     7751      0   7751  7751  7751            7751

In [32]:
paris = df[df['City'] == 'Paris']

In [34]:
parismean = paris.groupby('Year').mean()

C:\Users\Cbilinski\AppData\Local\Temp\ipykernel_29744\2351752074.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  parismean = paris.groupby('Year').mean()

In [38]:
minparismean = parismean['AvgTemperature'].min()
parismean[parismean['AvgTemperature'] == minparismean]

         Month        Day  AvgTemperature
Year
2018  6.526027  15.720548       45.773151

Year
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016    False
2017    False
2018     True
2019    False
2020    False
Name: AvgTemperature, dtype: bool